[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Santader-Microservices/client-gateway.git
[submodule "users-ms"]
	path = users-ms
	url = https://github.com/Santader-Microservices/users-ms.git
